<!-- <<<<<<< master -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Check In</title>
</head>
<body>
<h3>Send the spreadsheet to this email</h3>
<p>harshborse@checkin-254617.iam.gserviceaccount.com</p>

<form action="checkinGen" method="post">
    {% csrf_token %}
    "exact name of the spreadsheet = <input type="text" name="filename">
    <input type="submit">

    <p>after submitting look at the console</p>
    <p>don't forget to say jay mata di</p>
</form>
</body>
<!-- ======= -->
<html>
    <head>
        <title>
            "Check in page"
        </title>
    </head>
    <body>
        <p>
            "Hello ATC"
        </p>
    </body>
<!-- >>>>>>> master -->
</html>